.media-block{
    height: 70px;
    width: 100px;
    overflow: hidden;
    transition: width 2s, height, 2s;
}
.media-block:hover{
    width: 200px;
    height: 150px;
    z-index: 999;
    position: relative;
}
